<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EventManager{% endblock %}</title>
    {% load static %}
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'event/css/style.css' %}"/>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'event/js/main.js' %}"></script>
</head>
<body style="display:flex; flex-direction:column; min-height:100vh;">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top event-header-navbar">
        <div class="container-fluid event-header-container">
            <div class="event-header-flex">
                <div class="event-header-brand">
                    <a class="navbar-brand event-header-title" href="{% url 'event:home' %}">
                        <span class="glyphicon glyphicon-glass" style="margin-right:8px;"></span>
                        Online Event Management
                    </a>
                </div>
                <div class="event-header-user" style="margin-left:auto;">
                    <ul class="nav navbar-nav navbar-right event-header-user-nav">
                        <li class="{% block register_active %}{% endblock %}"><a href="{% url 'event:register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li class="{% block login_active %}{% endblock %}"><a href="{% url 'event:login_user' %}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <!-- Page Content -->
    <div style="flex:1 0 auto;">
        {% block body %}{% endblock %}
    </div>
    <footer class="footer" style="flex-shrink:0;">
        &copy; {{ year|default:2025 }} Event Management System
    </footer>
</body>
</html>