{% extends "user/base_visitor.html" %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}


{% block body %}
<div class="container" style="max-width:700px; margin-top:70px; margin-bottom:10px;">
    <div class="panel panel-default">
        <div class="form-heading">Register for an Account</div>
        <div class="panel-body">
            {% if error_message %}
                <p><strong class="text-danger">{{ error_message }}</strong></p>
            {% endif %}
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% with register_form as form %}
                    {% include "event/form_template.html" %}
                {% endwith %}
                {% with profile_form as form %}
                    {% include "event/form_template.html" %}
                {% endwith %}
                <div class="form-group text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            Already have an account? 
            <a href="{% url 'user:login_user' %}">Click here</a> to login.
        </div>
    </div>
</div>
{% endblock %}